@charset "utf-8";
/* CSS Document */

body {
	background-color:#666;
	font-family:verdana;
}

h1 {size:36px;
	color:white;
}

h2  {color:white;
}

a:link  {color:yellow;
}

v:link  {color:pink;
}

a:visited  {
	color:white;
}

p {
    margin-top: 25px;
    margin-bottom: 0px;
    margin-right: 15px;
    margin-left: 15px;
}
