@charset "utf-8";
/* CSS Document */

body {background-color:blue;
	font-family:verdana;
}

h1 {size:36px;
	color:black;
}

h2  {color:black;
}

h3	{color:black;
	size:24;
}

a:link  {color:yellow;
}

a:visited  {color:yellow;
}

p {
    margin-top: 25px;
    margin-bottom: 0px;
    margin-right: 15px;
    margin-left: 15px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
table{
	margin-top: 25px;
    margin-bottom: 0px;
    margin-right: 15px;
    margin-left: 15px;
}
 